<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Productos</h1>

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>URL</th>
          <th>Descripción</th>
          <th>Opciones</th>
        </tr>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, product %></td>
            <td><%= product.url %></td>
            <td><%= product.description %></td>
            <% if signed_in? %>
              <td>
                <%= link_to "[EDIT]", edit_product_path(product) %> 
                <%= link_to "[ELIMINAR]", product, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %>
              </td>
            <%else%>
              <td>
                <p>Logueate para desbloquear las opciones</p>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% if signed_in? %>
      <div>
        <%= link_to "Publicar Producto", new_product_path, class: "btn btn-primary" %>
      </div>
    <%end%>
    </div>
  </div>
</div>